body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
}

h2 {
    font-size: 18px;
    color: blue;
    margin-bottom: 1px;
    margin: 0 auto;
}

h1 {
    font-size: 18px;
    color: blue;
    margin-bottom: 1px;
    margin: 0 auto;
}

.input-container {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
}

button {
    font-size: 16px;
    padding: 5px;
    margin: 1px 1;
    width: 40%;
    border: 2px solid #ccc;
    border-radius: 1px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

table {
    border-collapse: collapse;
    margin-top: 2px;
    width: 100%;
}

table, th, td {
    border: 2px solid black;
    font-weight: bold;
}

th, td {
    padding: 1px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

th {
    background-color: #4CAF50;
    color: white;
}

.remaining {
    font-size: 13px;
    color: green;
}

.timestamp {
    color: #333;
}

.time {
    color: #ff0000;
}

#surahName, #ayah {
    width: 130px;
    font-size: 16px;
    padding: 8px;
    border: 2px solid black;
    border-radius: 5px;
}

@media (max-width: 600px) {
    th, td {
        padding: 2px;
    }
}